<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
<meta charset="ISO-8859-1">
<title>Edit Book</title>
</head>
<body>
<h1 style="text-align:center;">EDIT Book</h1>

<center>
<div id="d"><br><br><br>
<form action="/modifyAtHmc" method="GET"> 
  
<input type="hidden" name="Id" th:value="${contactHmc.Id}">
Title:<input type="text" name="Title" th:value="${contactHmc.Title}"><br>
Author:<input type="text" name="Author" th:value="${contactHmc.Author}"><br>
Price:<input type="text" name="Price" th:value="${contactHmc.Price}"><br>
Quality:<input type="text" name="Quantity" th:value="${contactHmc.Quantity}"><br>
Related Courses:<input type="text" name="RelatedCourses" th:value="${contactHmc.RelatedCourses}"><br>


<input type="SUBMIT" value="Modify Book" /><br><<br>
</div><br><br>
<button><a href="/">Main Menu</a></button>
</center>

</form>
</body>
</html>