<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Sheridan Book Library</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body id="home">
<br><br>
<center>
<h1>Sheridan College Library</h1>
</br></br></br></br>
<div id="d"></br></br>
<form method="get">
<button><a href="/davis">Davis Campus</a></button><br></br>
<button><a href="/hmc">HMC Campus</a></button><br></br>
<button><a href="/trafalgar">Trafalgar Campus</a></button><br></br></br>
</form>
</div>
</center>
</body>
</html>