<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
<meta charset="ISO-8859-1">
<title>Trafalgar Campus Book Library</title>
</head>
<body>
<center>
<h1>Trafalgar Campus Book Library</h1></br></br>
<div id="d"></br></br></br>
<button><a href="addTra">Add Books</a></button><br>
<button><a href="dummyTra">Dummy Books</a></button><br>
<button><a href="viewTra">View Books</a></button><br>
<button><a href="searchTra">Search Books</a></button><br>
<button><a href="/">Main Menu</a></button></br></br>
</div>
</center>

</body>
</html>